# Blacklist files/folders in same directory as the .gitignore file
cgi-bin
*.code-workspace
test.*
/orders/files/*
!/orders/files/
db_*.class.php
db_search_results.php
charge.php
sendinvoice.php
mail.class.php
address_book.php
charge_stripe.php
charge_stripe.js

# Whitelist files/folders in sub-directories

# Whitelist some files

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Whitelist folder/a/b1/ and folder/a/b2/
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
# !folder/
# folder/*
# !folder/a/
# folder/a/*
# !folder/a/b1/
# !folder/a/b2/
# !folder/a/file.txt

# Adding to the above, this also works...
# !/folder/a/deeply
# /folder/a/deeply/*
# !/folder/a/deeply/nested
# /folder/a/deeply/nested/*
# !/folder/a/deeply/nested/subfolder
