html, body {
background: url("../images/bckgnd.png") repeat scroll 0px 0px #4E5359;
color: #e3e8ee;
font: 14px/1.5 Helvetica,Arial,Tahoma;
}

body{
text-shadow: 0px 1px 1px #333333;
padding: 20px;
}

.container {
width: 100%;

}

.page{
	width:100%;
	background-color: white;
}

nav {
	width:100%;
	padding: 10px;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

nav a{
	margin-right:25px;
}

.info {
	background:#0b5515;
	padding:10px;
	margin:10px;

	border:#062f14 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #17b22b;
	-webkit-box-shadow: 0 1px 2px #7f7f7f;
	box-shadow: 0 1px 2px #7f7f7f;

}

.error {
	background:#54000c;
	padding:10px;
	margin:10px;
	text-align: center;

	border:#7e000c 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #7f7f7f;
	-webkit-box-shadow: 0 1px 2px #7f7f7f;
	box-shadow: 0 1px 2px #7f7f7f;

}

.valide {
	background:#062f14;
	padding:10px;
	margin:10px;
	text-align: center;

	border:#0b5515 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #7f7f7f;
	-webkit-box-shadow: 0 1px 2px #7f7f7f;
	box-shadow: 0 1px 2px #7f7f7f;

}

a:link, a:visited {
color: #8caaff;
text-decoration: none;
}

a:hover, a:active {
color: #e3e8ee;
text-decoration: underline;
}

.center{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

.left {
float: left;
}

.right {
float: right;
}

.clear {
clear: both;
}

.clr {
clear: both;
height: 1px;
overflow: hidden;
}

.clrLeft {
clear: left;
height: 1px;
overflow: hidden;
}

.clrRight {
clear: right;
height: 1px;
overflow: hidden;
}

.footer {
bottom: 36px;
color: #2E3035;
font: 14px;
left: 50%;
margin-bottom: -15px;
margin-left: -250px;
position: absolute;
text-align: center;
text-shadow: 0px 1px 0px #5D5F61;
width: 500px;
}

.footer span {
font: 12px;
}

/*
form Style - 
------------------------------------------------------------------ */

.forms {
	background:#4e5359;
	padding:10px;
	margin:10px;

	border:#3f3f3f 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #7f7f7f;
	-webkit-box-shadow: 0 1px 2px #7f7f7f;
	box-shadow: 0 1px 2px #7f7f7f;
}

input{
	margin:5px 20px 5px 0px ;
}

select{
	margin:5px 20px 5px 0px ;
}

textarea {
	margin:5px 20px 5px 0px ;
	width:33%;
}

.button {
border:medium 1px;
color:#000;
font-size:.85em;
height:30px;
width:201px;
}


a.button {
color:#000;
display:block;
float:left;
font-size:.85em;
height:26px;
margin-right:6px;
padding-bottom:5px;
padding-right:100px
}

a.button span {
background:url(/img/But1left.png) no-repeat scroll 0 0 transparent;
display:block;
line-height:26px;
padding:7px 0 5px 18px
}

a.button:hover span {
text-decoration:underline
}

/*
Table Style - 
------------------------------------------------------------------ */
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
/*	margin:20px;*/
	margin-top:20px;
	border:#ccc 1px solid;
	width:100%;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 5px 22px 5px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child{
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr{
	text-align: center;
	padding-left:20px;
}
table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table tr td {
	padding:5px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td{
	border-bottom:0;
}
table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}